.gallery {
    max-width: 100%
  }

.galleryImg {
    max-width: 100%
  }

.galleryHolder{
  max-width:100%;
  position: relative;
  top:0;
  left:0;
  border: 1px white solid;
}
.galleryBase{
  position:relative;
  max-width:100%;
  top:0;
  left:0;
}
.galleryOverlay{
  position:absolute;
  max-width:100%;
  top: 0px;
  left: 0px;
}

.voiceLine{
  background-color: #fff;
  padding:20px;
  margin:10px;
}

.loadText{
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

@keyframes type{ 
  from { width: 0; } 
} 

.playIcon{
  font-size: 25px;
  padding-right:20px;
  color:#fff;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.indent{
    text-indent: 5%;
}

.moodButton{
  float:right;
  margin-left:10px;
}

.floatImage{
  float:right;
  margin-left:20px;
  max-height:300px;
  padding: 10px;
}

.forwardB{
  position: absolute;
  right: 10px;
  top: 50%;
}

.backwardB{
  position: absolute;
  left: 10px;
  top: 50%;
}

.iconImg {
    max-width: 50%;
    width: auto;
    vertical-align: top;
    margin-right: 0%;
    text-align: center;
  }

.fg {
    display: inline-block;
    text-indent: 0px;
    line-height: normal;
    text-align: center;
    line-height: 1;
  }

.fg:before {
    content: attr(t);
    display: block;
    font-size: 50%;
    text-align: center;
    line-height: 1.5;
  }

.tp {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tp .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;

  width: 200px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  font-size: 60%;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;

  position: absolute;
  z-index: 1;
}

.tp:hover .tooltiptext {
  visibility: visible;
  opacity:1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.skillLeft {
  float: left;
  padding: 10px;
  width: 10%;
  align-content: center;
  text-align: center;
}

.skillRight {
  float: left;
  padding: 10px;
  width:90%;
}

.resetSkill {
  float: left;
  width: 100%;
}